.modal {
  display: none;
  visibility: none;
  opacity: 0;
}

.modal.invalid {
  display: block;
  visibility: visible;
  opacity: 1;
}

.modal__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.9);
}

.modal__heading {
  background-color: #681868;
  color: #fff;
  margin: -2rem;
  margin-top: -3.2rem;
  padding: 2rem;
  font-size: 3.2rem;
}

.modal__message {
  margin: 5rem 0;
  font-size: 2rem;
}

.modal__popup .btn {
  font-size: 1.6rem;
  margin-left: auto;
  letter-spacing: 1px;
  text-transform: uppercase;
}
